/* stylesheet.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h2 , .userlabel, .passlabel{
    font-weight: 500;
    font-family: "Lato", Arial, sans-serif;
    color: #000
  }

  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #e3c5c5;
    border-radius: 8px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555555;
  }
  
  button[type="submit"] {
    margin-top: 20px;
  }
  
  /* Responsive Styling */
  
  @media (max-width: 480px) {
    .login-container {
      padding: 20px;
    }
  }
  